<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:utext="${title}"></title>
    <link rel ="stylesheet" th:href ="@{/css/home/welcome.css}">
</head>

<body>

<!-- Include _menu.html -->
<th:block th:include="/_menu"></th:block>

<main class="mainPage">
    <div class="textMenu">
        <h1>КОНСУЛЬТАЦИЯ ЮРИСТА</h1>
        <p>Устные и письменные консультации юриста, по телефону, без телефона. Вопросы юристу со стажем более 12 лет 24 х 7.
            Юридическая служба предоставляет услуги по любым правовым вопросам и областям права. Предварительная запись в
            онлайн позволяет подготовить более развернутый ответ при встрече.
            Вторая устная консультация - бесплатно!</p>
    </div>
</main>
<div class="info">
    <h2>О ЮРИДИЧЕСКОЙ ФИРМЕ</h2>
    <p>Юридическое фирма «Alex» объединяет юристов и специалистов, отличающихся своей высокой квалификацией и большим опытом работы.
        Главным и наиболее значимым отличием является то, что каждый юрист специализируется в конкретной области права,
        в связи с чем можно сделать вывод, что сотрудники досконально знают особенности законодательства связанного с вопросом клиента.
        Юристы и другие сотрудники бюро постоянно повышают свою квалификацию за счет обширной судебной практики,
        участию в различных мероприятиях регионального, российского, так и международного масштаба
        (семинары, вебинары, форумы, круглые столы, презентации и т.п.).</p>
</div>

<footer class="footerWelcome">
    <div>ЧАСТНЫМ КЛИЕНТАМ</div>
    <div>О КОМПАНИИ</div>
    <div>СОТРУДНИЧЕСТВО</div>
</footer>

</body>
</html>